@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root 
{
    --pri-color: #A470FF;
    --sec-color: #ECECEC;
    --pri-font: 'Montserrat', sans-serif;
    --cont-text: white;
    --text: black;
}

.page-body
{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.login-form
{
    background-color: white;
    border-radius: 15px;
    padding: 2%;
    margin: 2%;
    
    color: var(--pri-color);
    justify-content: center;
}

.login-form input, .login-form select, .login-form textarea
{
    border: 1px solid var(--sec-color);
    border-radius: 15px;
    outline: none;
    background-color: transparent;
    width: 100%;
    margin: 2%;
    padding: 1%;
}

.login-form label
{
    color: black;
    float: left;
    margin-left: 5%;
}

.login-form input[type=submit]
{
    outline: none;
    border: none;
    color: white;
    border-radius: 15px;
    background-color: var(--pri-color);
    width: 100%;
    margin: 2%;
    padding: 1%;
}

p
{
    color: black;
}


h2, h3, h4
{
    margin: 2%;
    padding: 1%;

}